* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  padding: 5% 0% 2% 0%;
  font-size: 35px;
  font-weight: lighter;
}

h2 {
  text-transorm: lowercase;
  padding: 5% 0% 2% 0%;
  font-size: 35px;
  font-weight: lighter;
}

span {
  font-style: italic;
}

body {
  background: url('assets/freedom.jpg') no-repeat center center fixed;
  background-size: cover;
}